/archive.zip
/mubi_db.sqlite
/mubi_lists_data.csv
/mubi_lists_user_data.csv
/mubi_movie_data.csv
/mubi_ratings_data.csv
/mubi_ratings_user_data.csv
/sqldiff.exe
/sqlite3.def
/sqlite3.dll
/sqlite3.exe
/sqlite3_analyzer.exe
/test.sqlite